.masonryGrid {
  display: flex;
  width: auto;
}
.masonryGridColumn {
  margin-top: 8rem;
  background-clip: padding-box;
}

@media (min-width: 576px) {
  .masonryGridColumn {
    padding-left: 32px;
  }

  .masonryGrid {
    margin-left: -32px;
  }
}

.masonryGridColumn:nth-child(2),
.masonryGridColumn:only-child {
  margin-top: 0px;
}

.masonryGridColumn > div {
  margin-bottom: 35px;
}
