.content {
  font-size: 1.125rem;
  line-height: 1.625;
}
.content blockquote,
.content ol,
.content p,
.content ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.content a {
  background-image: linear-gradient(
    transparent 0,
    transparent calc(50% - 9px),
    var(--chakra-colors-red-200) calc(50% - 9px),
    var(--chakra-colors-red-200) 100%
  );
  background-size: 100% 200%;
  word-break: break-word;
  padding: 2px 0 1px;
  transition: background-position 0.12s ease-in-out 0s,
    padding 0.12s ease-in-out 0s;
  background-position: 0 0;
}
.content ol,
.content ul {
  padding-left: 1rem;
}
.content ul {
  list-style-type: disc;
}
.content ol {
  list-style-type: decimal;
}
.content ol > li > ol,
.content ul > li > ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
}
.content ul > li > ul {
  list-style: circle;
}
.content h2 {
  font-size: 1.875rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}
.content h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}
.content h4 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}
.content pre {
  white-space: pre;
  overflow-x: auto;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25;
  border-width: 1px;
  border-color: #cbd5e0;
  border-color: rgba(203, 213, 224, 1);
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, 1);
}
.content code {
  font-size: 0.875rem;
}
.content figcaption {
  text-align: center;
  font-size: 0.875rem;
}
.content blockquote {
  color: var(--chakra-colors-gray-800);
  border-left-width: 4px;
  border-color: #a0aec0;
  border-color: rgba(160, 174, 192, 1);
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, 1);
  font-style: italic;
  margin-left: 0;
  padding: 1rem 1.5rem;
}
.content blockquote p {
  margin-top: 0;
}
.content blockquote cite {
  font-style: normal;
}
.content audio {
  width: 100%;
}
.content * {
  max-width: 100% !important;
  min-width: unset !important;
}
.content div {
  max-width: 100% !important;
}
.content img {
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  margin: auto;
}
.content iframe {
  margin: auto;
}
